navbar,
#footer {
    display: block;
    background-color: #002a5c;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0px;
}

navbar {
    margin-bottom: 5px;
}

navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

navbar a:visited {
    color: gray;
}

navbar h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
}
